{# <div {{attributes}} class="review-score">
    {% set fullStars = this.score|round(0.5, 'floor') %}
    {% set halfStar = this.score - fullStars >= 0.5 %}
    {% for i in 1..fullStars %}
        <twig:Icons:FullStarIcon/>
    {% endfor %}
    {% if halfStar %}
        <twig:Icon:HalfStarIcon/>
    {% endif %}
    <span>{{this.score}}</span>
</div> #}

<div {{attributes}} class="review-score">
    {% set fullStars = this.score|round(0, 'floor') %}
    {% set filledStars = fullStars %}

    {% for i in 1..fullStars %}
            <twig:Icons:FullStarIcon/>
    {% endfor %}

    {% if this.score - fullStars >= 0.5 %}
        {% set filledStars = filledStars + 1 %}
        <twig:Icons:HalfStarIcon/>
    {% endif %}

    {% set emptyStars = 5 - filledStars %}
    {% if emptyStars != 0 %}
        {% for i in 1..emptyStars %}
            <twig:Icons:EmptyStarIcon/>
        {% endfor %}
    {% endif %}

    <span>{{ '%.1f'|format(this.score) }}</span>
</div>

{# <div {{attributes}} class="review-score">
    {% set fullStars = this.score|round(0, 'floor') %}
    {% set filledStars = fullStars %}

    {% if this.score < 0 or this.score > 5 or not (this.score is numeric and this.score matches '/^\d+(\.\d+)?$/') %}
        {% set this.score = 0 %}
    {% endif %}

    {% for i in 1..fullStars %}
            <twig:Icons:FullStarIcon/>
    {% endfor %}

    {% if this.score - fullStars >= 0.5 %}
        {% set filledStars = filledStars + 1 %}
        <twig:Icons:HalfStarIcon/>
    {% endif %}

    {% set emptyStars = 5 - filledStars %}
    {% if emptyStars != 0 %}
        {% for i in 1..emptyStars %}
            <twig:Icons:EmptyStarIcon/>
        {% endfor %}
    {% endif %}

    <span>{{ '%.1f'|format(this.score) }}</span>
</div> #}

{# <div {{attributes}} class="review-score">
    {% set fullStars = this.score|round(0, 'floor') %}
    {% set filledStars = fullStars %}

    {% if this.score is not defined or this.score is not iterable or this.score < 0 or this.score > 5 or not (this.score matches('/^\d+(\.\d+)?$/')) %}
        {% set this.score = 0 %}
    {% endif %}

    {% if this.score is not defined or this.score < 0 or this.score > 5 %}
        {% set this.score = 0 %}
    {% endif %}

    {% for i in 1..fullStars %}
            <twig:Icons:FullStarIcon/>
    {% endfor %}

    {% if this.score - fullStars >= 0.5 %}
        {% set filledStars = filledStars + 1 %}
        <twig:Icons:HalfStarIcon/>
    {% endif %}

    {% set emptyStars = 5 - filledStars %}
    {% if emptyStars != 0 %}
        {% for i in 1..emptyStars %}
            <twig:Icons:EmptyStarIcon/>
        {% endfor %}
    {% endif %}

    <span>{{ '%.1f'|format(this.score) }}</span>
</div> #}

{# <div {{attributes}} class="review-score">
    {% set score = attributes.get('score') is not null ? attributes.get('score') : 0 %}
    {% set score = score is numeric ? score : 0 %}
    
    {% set score = score|number_format(1, '.', '') %}
    {% set fullStars = score|round(0, 'floor') %}
    {% set filledStars = fullStars %}

    {% if score < 0 or score > 5 %}
        {% set score = 0 %}
    {% endif %}

    {% for i in 1..fullStars %}
        <twig:Icons:FullStarIcon/>
    {% endfor %}

    {% if score - fullStars >= 0.5 %}
        {% set filledStars = filledStars + 1 %}
        <twig:Icons:HalfStarIcon/>
    {% endif %}

    {% set emptyStars = 5 - filledStars %}
    {% if emptyStars > 0 %}
        {% for i in 1..emptyStars %}
            <twig:Icons:EmptyStarIcon/>
        {% endfor %}
    {% endif %}

    <span>{{ score }}</span>
</div> #}

{# <div {{attributes}} class="review-score">
    {% set score = attributes.get('score') is not null ? attributes.get('score') : 0 %}
    {% set score = score is number ? score : 0 %}
    
    {% set score = score|number_format(1, '.', '') %}
    {% set fullStars = score|round(0, 'floor') %}
    {% set filledStars = fullStars %}

    {% if score < 0 or score > 5 %}
        {% set score = 0 %}
    {% endif %}

    {% for i in 1..fullStars %}
        <twig:Icons:FullStarIcon/>
    {% endfor %}

    {% if score - fullStars >= 0.5 %}
        {% set filledStars = filledStars + 1 %}
        <twig:Icons:HalfStarIcon/>
    {% endif %}

    {% set emptyStars = 5 - filledStars %}
    {% if emptyStars > 0 %}
        {% for i in 1..emptyStars %}
            <twig:Icons:EmptyStarIcon/>
        {% endfor %}
    {% endif %}

    <span>{{ score }}</span>
</div> #}

