    <div {{attributes}} class="user-actions">
        <a class="button-secondary user-action" href="destination/favorite/{{this.rootID}}" id="favorite-button">
            <twig:Icons:FavoriteIcon/>
        </a>
        <a class="button-secondary user-action" href="destination/share/{{this.rootID}}" id="share-button">
            <twig:Icons:ShareIcon/>
        </a>
        <a class="button-secondary user-action" href="destination/hide/{{this.rootID}}" id="hide-button">
            <twig:Icons:HideIcon/>
        </a>
        <a class="button-secondary user-action" href="destination/compare/{{this.rootID}}" id="compare-button">
            <twig:Icons:CompareIcon/>
        </a>
    </div>