<div {{attributes}} id="destination-{{this.uuid}}" class="destination-root-container">
    <div class="destination-head-container">
        <h2 class="destination-title">{{this.destTitle}}</h2>
        <p class="destination-subtitle">{{this.subtitle}}</p>
        <twig:Components:SlideShow uuid="{{this.uuid}}" images="{{this.images}}"></twig:Components:SlideShow>
    </div>
    <div class="destination-body-container">
        <div class="destination-actions-reviews-container">
            <twig:Components:UserActions>
                <twig:Components:Button type="tertiary">
                    <twig:Icons:FavoriteIcon />
                </twig:Components:Button>
                <twig:Components:Button type="tertiary">
                    <twig:Icons:ShareIcon />
                </twig:Components:Button>
                <twig:Components:Button type="tertiary">
                    <twig:Icons:HideIcon />
                </twig:Components:Button>
                <twig:Components:Button type="tertiary">
                    <twig:Icons:CompareIcon />
                </twig:Components:Button>
            </twig:Components:UserActions>
            <div class="average-reviews-container">
                <p class="total-reviews-count">{{this.totalReviews}}</p>
                <twig:Components:ReviewScore score="{{this.avgScore}}" />
            </div>
        </div>
        <div class="content">
            <h3 class="destination-content-fit-title">About {{this.city}}</h3>
            <p class="destination-content-fit-text">
                {{this.description}}
            </p>
        </div>
        <twig:Components:Button type="primary">
            <twig:Icons:ClickActionIcon />Book Now!
        </twig:Components:Button>
    </div>
</div>