<h2 class="destination-header-title">Visit <strong>{{this.destination.city}}</strong></h2>
{# <p>{{this.destination.subtitle}}</p> #}
<header {{ attributes }} class="destination-header" id="dynamic-destination-header">
    <twig:Components:Button id="explore-button" type="primary">
        <twig:Icons:ExploreIcon/>
        Book&nbsp;Your&nbsp;<span id="current-location"></span>&nbsp;Trip&nbsp;Now!
    </twig:Components:Button>
    <div class="header-message-container">
        
        
    </div>

</header>

<script>
$(document).ready(function () {
    function playAnimation() {
        const element = $('.destination-header-title > strong');
        element.addClass('animate glow'); // Add animation classes
    }

    // Play animation once when the page loads
    playAnimation();
});
</script>



<script>
    $(document).ready(function () {
        const header = $('#dynamic-destination-header');
        const exploreButton = $('#explore-button');
        const locationSpan = $('#current-location');

        const destinationImages = [
            {% for image in this.destination.destImages %}
                    '{{ absolute_url(asset(image)) }}'{{ loop.last ? '' : ',' }}
            {% endfor %}
        ];
        const cityName = '{{ this.destination.city }}';
        const destID = '{{ this.destination.destID }}';

        let currentIndex = 0;

        function changeBackground() {
            // Get the current image from the destinationImages array
            const currentImage = destinationImages[currentIndex];

            // Update header background image
            header.css('background-image', `url(${currentImage})`);

            // Update location title and button href
            locationSpan.text(cityName);
            exploreButton.attr('href', `/destination/${destID}`);

            // Move to the next image, looping back to the start if necessary
            currentIndex = (currentIndex + 1) % destinationImages.length;
        }

        // Set the initial background image and location
        changeBackground();

        // Change the background image every 5 seconds
        setInterval(changeBackground, 5000);
    });
</script>
