{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('styles/light-theme.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('styles/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/button.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/logo-title.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/search-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/nav-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/header.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/sidemenu-new.css') }}">
    <style>

    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}

    {# <twig:Components:LogoTitle id="mobile-logo-title"/> #}
    <twig:Containers:Header :headerImages="header"/>
    <twig:Containers:NavBar/>

    <div style="height: 2000px;"></div>


{% endblock %}
