{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/button.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/logo-title.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/search-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/nav-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/header.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/sidemenu-new.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/components/review-score.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/components/icon-button.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/components/slideshow.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/containers/destination.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/containers/destination-header.css') }}">

    <style>
    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div style="height: 40px;"></div>
    <twig:Containers:NavBar/>
    {# <twig:Containers:Header :headerImages="header"/>
    <twig:Containers:DestinationCard :destination="destination"/> #}
    <br><br>
    <div style="height: 2000px;"></div>
{% endblock %}