{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('styles/light-theme.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('styles/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/button.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/logo-title.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/components/search-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/nav-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/header.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/containers/sidemenu-new.css') }}">
    <style>

    </style>
{% endblock %}

{% block javascripts %}

{# document.addEventListener('DOMContentLoaded', () => {
    const styles = [
        '/assets/styles/components/button.css',
        '/assets/styles/components/logo-title.css',
        '/assets/styles/components/search-bar.css',
        '/assets/styles/containers/header.css',
        '/assets/styles/containers/nav-bar.css',
        '/assets/styles/containers/sidemenu.css'
    ];

    styles.forEach(stylePath => {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = stylePath; // Set the href to the CSS path
        document.head.appendChild(link); // Append the <link> to the <head> section
    });
}); #}
 
{# <script>
document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('header');
    const navBar = document.querySelector('.nav-bar');

    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (!entry.isIntersecting) {
                document.body.classList.add('scrolled-past-header');
            } else {
                document.body.classList.remove('scrolled-past-header');
            }
        });
    }, observerOptions);

    observer.observe(header);
});
</script> #}
{% endblock %}

{% block body %}

    {# <twig:Components:LogoTitle id="mobile-logo-title"/> #}
    <twig:Containers:Header :headerImages="header"/>
    <twig:Containers:NavBar/>

    <div style="height: 2000px;"></div>


{% endblock %}


{# <nav class="nav-bar">
        <div class="nav-left">
        <a href="https://meinausflug.de/" class="logo-title">
            <twig:Icons:LogoIcon />
            <span class="title"><strong>Mein</strong>Ausflug</span>
        </a>

                <div class="horizontal-divider"></div>
                
        <search {{attributes}}>
            <label for="search-field"><twig:Icons:SearchIcon/></label>
            <input autocomplete="off" placeholder="Search..." maxLength={150} spellCheck={false} type="search" id="search-field" name="search-field"/>
            <a class="button-secondary"><twig:Icons:GoIcon/></a>
        </search>
        </div>

        <div class="nav-right">
                <a class="button-primary"><twig:Icons:LoginIcon/>Sign In</a>
                <a class="button-secondary"><twig:Icons:LocaleIcon/>EN</a>
                <a class="button-tertiary" id="nav-theme-toggler" ><twig:Icons:ThemeIcon/></a>
                <a class="button-tertiary" id="nav-sidebar-toggler"><twig:Icons:ThemeIcon/><twig:Icons:HamburgerIcon/></a>
        </div>
 </nav> #}